html {
    --bg: rgb(194,21,74);
    --skin: rgb(240,204,201);
    --skin-shadoy: rgb(204,168,164);
    --brk: rgb(34,30,31);
    --pants: #000;
    --cloth: #fff;
    --kutlaca: rgb(175,145,117);
    --kutlaca-sjenka: rgb(114,86,60);
    --masna: rgb(198,43,107);
    --obrve: rgb(35,30,32);
    --usta: #000;
    --eyes-offset: 24.3%;
}

.b {
    border: 0.7vmin solid;
}  

.r {
    border-radius: 50%;
}

*::after,
*::before,
.cartoon * {
    position: absolute;
}

.ba::after,
.hb::before {
    content: "";
    display: block;
}

img {
    width: 80vmin;
    position: absolute;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    /* opacity: 1; */
}

.cartoon {
    border: 1px solid blue;
    width: 80vmin;
    height: 80vmin;
    /* background: orange; */
    margin: 0 auto;

    background-size: 4vmin 4vmin;
    background-image: linear-gradient(to right, blue 1px, transparent 1px),
                      linear-gradient(to bottom, blue 1px, transparent 1px);
}

.head {
    width: 35.5vmin;
    height: 34.5vmin;
    top: 24vmin;
    left: 35vmin;
    background: var(--skin);
}

.eye {
    top: var(--eyes-offset);
    background: #000;
    box-shadow: 0 0 0 2.5vmin white, 0 0 0 3.2vmin black;
}

.eye-l { 
    left: 31%; 
}

.eye-r { 
    right: 35%; 
}


.eye::before {
    top: -10vmin;
    width: 5.3vmin;
    height: 2.1vmin;

    border-radius: 1vmin;
    background: #000;
}

.eye-r::before {
    left: -1vmin;
    transform-origin: right;
    transform: translateX(-50%) rotate(12deg);
}

.eye-l::before {
    left: 2vmin;
    transform-origin: left;
    transform: translateX(-50%) rotate(-11deg);
}

.nose {
    top: calc(var(--eyes-offset) * 1.6);
    left: 41%;
    width: 3.5vmin;
    height: 2.5vmin;
    background-color: var(--skin);
    border-radius: 4vmin 
}
body {
    background: var(--bg);
}

.brk {
    top: 39%;
    left: 15%;
    --size: 10vmin;
    width: calc(var(--size) * 1.2);
    height: var(--size);
    background: var(--brk);
    
}

.brk::before {
    border-radius: 50%;
    left: 11.2vmin;
    width: 100%;
    height: 100%;
    background: var(--brk);
}