html {
    --bg: rgb(194,21,74);
    --skin: rgb(240,204,201);
    --skin-shadoy: rgb(204,168,164);
    --brk: rgb(34,30,31);
    --pants: #000;
    --cloth: #fff;
    --kutlaca: rgb(175,145,117);
    --kutlaca-sjenka: rgb(114,86,60);
    --masna: rgb(198,43,107);
    --obrve: rgb(35,30,32);
    --usta: #000;
    --eyes-offset: 24.3%;
}

.b {
    border: 0.7vmin solid;
}  

.r {
    border-radius: 50%;
}

*::after,
*::before,
.cartoon * {
    position: absolute;
}

.ha::after,
.hb::before {
    content: "";
    display: block;
}

img {
    width: 80vmin;
    position: absolute;
    opacity: 0.2;
    left: 50%;
    transform: translate(-50%);
    pointer-events: none;
    /* opacity: 1; */
    /* opacity: 0; */
}

.cartoon {
    position: relative;
    border: 1px solid blue;
    width: 80vmin;
    height: 80vmin;
    /* background: orange; */
    margin: 0 auto;

    background-size: 4vmin 4vmin;
    background-image: linear-gradient(to right, blue 1px, transparent 1px),
                      linear-gradient(to bottom, blue 1px, transparent 1px);
}

.head {
    width: 32vmin;
    height: 30.5vmin;
    top: 24vmin;
    left: 50%;
    transform: translateX(-50%);
    background: var(--skin);
    box-shadow: inset 0 -5px 0 0.2vmin var(--skin-shadoy);
}

.eye {
    top: var(--eyes-offset);
    background: #000;
    box-shadow: 0 0 0 2.5vmin white, 0 0 0 3.2vmin black;
}

.eye-l { 
    left: 31%; 
}

.eye-r { 
    right: 35%; 
}


.eye::before {
    top: -8vmin;
    width: 5.3vmin;
    height: 2.1vmin;

    border-radius: 1vmin;
    background: #000;
}

.eye-r::before {
    left: -1vmin;
    transform-origin: right;
    transform: translateX(-50%) rotate(12deg);
}

.eye-l::before {
    left: 2vmin;
    transform-origin: left;
    transform: translateX(-50%) rotate(-11deg);
}

.nose {
    top: calc(var(--eyes-offset) * 1.6);
    left: 41%;
    width: 3.5vmin;
    height: 2.5vmin;
    background-color: var(--skin);
    border-radius: 4vmin 
}
body {
    background: var(--bg);
}

.brk {
    top: 40%;
    left: 12%;
    --size: 10vmin;
    width: calc(var(--size) * 1.2);
    height: var(--size);
    background: var(--brk);
    
}

.brk::before {
    border-radius: 50%;
    left: 11.2vmin;
    width: 100%;
    height: 100%;
    background: var(--brk);
}

.mouth {
    width: 2vmin; height: 4.5vmin;
    background: var(--usta);
    top: 58%;
    left: 45%;
}

/* brada */
.mouth::before {
    --size: 4vmin;
    top: 25%;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 1vmin solid transparent;
    border-bottom-color: black;
    border-bottom: 1vmin solid;
}

/* podvoljak */
.mouth::after {
    --size: 5vmin;
    top: 4vmin;
    width: 7vmin;
    height: var(--size);
    left: 50%;
    border: 1.5vmin solid var(--skin-shadoy);
    transform: translateX(-50%);
    border-color: transparent transparent var(--skin-shadoy) transparent;
    border-width: 0 0 1.5vmin 0;
    border-radius: 50%;
}

.kapa {
    background: white;
    width: 16vmin;
    height: 14vmin;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}

.k {
    background: white;
    --size: 8vmin;
    top: -30%;
    width: var(--size);
    height: var(--size);
    /* border-color: red green blue orange; */
    transform: rotate(45deg);
    border-radius: 50%;
}
.k1 {
    left: -30%;
    border-right-color: transparent;
}
.k2 {
    left:25%;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.k3 {
    left: 71%;
    border-bottom-color: transparent;
}

.body {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 23vmin;
    height: 19vmin;
    background: white;

}

.arm {
    width: 8vmin;
    height: 20vmin;
    background: white;
    top: 42%;
    right: 21vmin;
    transform: rotate(45deg);
}

.arm + .arm {
    left: 21vmin;
    transform: rotate(-45deg);
}

.lower-part {
    top: 19vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 25vmin;
    height: 6vmin;
    background: black;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.right-leg {
    --size: 7vmin;

    right: -3vmin;
    top: -0.7vmin;
    width: var(--size);
    height: var(--size);
    background: #000;
    border-radius: 50%;
}

.right-leg::after {
    width: 5vmin;
    height: 5vmin;
    background: #000;
    top: 2vmin;
    right: 0.5vmin;
}

.right-leg::before {
    top: 6vmin;
    width: 7vmin;
    height: 3vmin;
    background: white;
    border: 0.5vmin solid;
    border-top-right-radius: 100%;
    border-top-right-radius: 100%;
    right: -2vmin;
}
