.cartoon {
    position: relative;
    width: 80vmin;
    height: 90vmin;
    border: 2vmin solid;
    text-align: center;
}

.cartoon * {
    position: absolute;
}

.glasses {
    width: 14vmin;
    height: 14vmin;
}

.glass-2 {
    top: 18%;
    left: 50%;
}

.glass-1 {
    top: 18%;
    left: 25%;
}

.eye {
    width: 3vmin;
    height: 3vmin;
    background: #fff;
    box-shadow: inset -2px -0.5vmin 0 1.1vmin #000;
    ;
}

.eye-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eye-1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}