.cartoon {
    --skin: #fca;
    --dark: #e96;
    --hair: #630;
    --robe: #222;
    position: relative;
    width: 80vmin;
    height: 90vmin;
    border: 2vmin solid;
    text-align: center;
}

.cartoon * {
    position: absolute;
}

.glasses {
    --size: 12vmin;
    background: var(--skin);
    top: 23.5%;
    width: var(--size);
    height: var(--size);
}

.glass-2 {
    left: 53%;
}

.glass-1 {
    left: 25%;
}

.eye {
    width: 3vmin;
    height: 3vmin;
    background: #fff;
    box-shadow: inset -2px -0.5vmin 0 1.1vmin #000;
}

.eye-2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eye-1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lower-head {
    top: 31%;
    left: 17%;
    width: 47vmin;
    height: 10vmin;
    border-radius: 77% 61% 100% 100% / 0% 0% 100% 100%;
    background: var(--skin);
}

.mouth {
    --size: 2.5vmin;
    width: var(--size);
    height: var(--size);
    left: 50%;
    top: 28%;
    border: 1vmin solid;
    transform: translateX(-50%) rotate(45deg);
    border-color: transparent black black transparent;
}

.ears {
    --size: 4vmin;
    top: 28vmin;
    width: var(--size);
    height: var(--size);
    background: var(--skin);
}

.e1 {
    left: 11vmin;
}

.e2 {
    right: 14.5vmin;
}

.upper-head {
    top: 15vmin;
    left: 18%;
    background: var(--skin);
    width: 48vmin;
    height: 15vmin;
}

.shall-top {
    top: 42%;
    left: 28%;
    width: 30vmin;
    height: 7vmin;
    border-radius: 10% 10% 13% 15% / 0% 0% 100% 78%;
    background: rgb(255, 109, 0);
    background-image: repeating-linear-gradient( 90deg, orange, orange 20%, red 20%, red 45%);
}

.shall-2 {
    top: 42%;
    left: 33%;
    width: 9vmin;
    height: 30vmin;
    background: rgb(255, 109, 0);
    background-image: repeating-linear-gradient( orange, orange 20%, red 20%, red 45%);
}

.hair {
    background: var(--hair);
}

.hair-left {
    width: 15vmin;
    top: 6%;
    left: 15%;
    height: 23vmin;
    /* border-radius: 86% 14% 100% 0% / 67% 1% 99% 33%; */
    border-radius: 96% 5% 100% 0% / 91% 0% 100% 10%;
}

.heair-top {
    border-radius: 0% 37% 13% 100% / 28% 77% 0% 73%;
}

.body {
    top: 44%;
    left: 30%;
    width: 27vmin;
    ;
    height: 38vmin;
    border-radius: 30% 30% 29% 10% / 100% 100% 0% 0%;
    background: var(--robe);
}

.leg {
    background: #444;
    top: 80%;
    width: 10vmin;
    height: 10vmin;
}

.leg1 {
    left: 32%;
}

.leg2 {
    left: 49%;
}

.foot {
    width: 14.5vmin;
    height: 3vmin;
    top: 92%;
    background: var(--robe);
}

.f1 {
    left: 26.2%;
    border-radius: 8vmin 0 0 0;
}

.f2 {
    left: 49%;
    border-radius: 0 8vmin 0 0;
}

.hands {
    width: 20vmin;
    height: 25vmin;
    background-color: var(--robe);
}

.hands.left {
    top: 47%;
    left: 21%;
    transform: rotate(5deg);
    border-radius: 25vmin 0 0 0;
}

.hands.right {
    top: 47%;
    right: 25.5%;
    transform: rotate(-5deg);
    border-radius: 0% 25em 0px 0px;
}

.fists {
    --size: 9.5vmin;
    width: var(--size);
    height: var(--size);
    background: var(--skin);
    top:72%;
    border-radius: 50%;
}

.left-fist { left: 20%; }

.right-fist { right: 24%; }