.cartoon * { position: absolute; }
.r { border-radius: 50%; }
.b { border: 1vmin solid; }

.sb::before {
    content: "";
    display: block;
    position: absolute;
}

.sa::after {
    content: "";
    display: block;
    position: absolute;
}
.cartoon { 
    --skin: hsla(19,50%,43%,1);
    --inside-ear: hsla(22,79%,72%,1);
    --nose: hsla(18,48%,16%,1);
    --cheak: hsla(34,100%,81%,1);
    --hart: hsla(358,52%,88%,1);
    --tooth: hsla(0,0%,100%,1);
    --bow: hsla(358,52%,88%,1);
    --bg: hsla(358,52%,88%,1);

    position: relative;
    margin: 0 auto;
    width: 80vmin;
    height: 95vmin;
} 

.body {
    border-radius: 50% 50% 0 0 ;
    background: var(--skin);
    width: 70%;
    height: 90%;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.ear {
    top: 15%;
    width: 16vmin;
    height: 15vmin;
    border-radius: 50%;
    background: var(--inside-ear);
    box-shadow: inset 0 0 0 1.5vmin var(--skin);
}
.ear-l { left: 13%; }

.ear-r { 
    left: unset;
    right: 13%;
    transform: scaleX(-1);
}

.eye {
    width: 3.8vmin;
    height: 3.8vmin;
    top: 27%;
    border-color: transparent transparent black black;
    transform: rotate(-43deg);
}

.eye-l { left: 25%; }
.eye-r { right: 25%; }

.two,
.three,
.one {
    width: 1.8vmin;
    height: 1vmin;
    background: black;
}

.one { top: 18%; left: -63%; }
.two { top: 130%; left: 40%; transform: rotate(-87deg)}
.three { top: 98%; left: -35%; transform: rotate(-45deg)}

img {
    top: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
    /* display: none; */
    width: 80vmin;
}

.cheak {
    background: var(--cheak);
    width: 20vmin;
    height: 12.5vmin;
    border-radius: 50% 0 0 50%;
}

.cheak-l { 
    top: 41%; left: 18%; 
    transform: rotate(-10deg);
}

.cheak-r {
    top: 41%; 
    right: 15%; 
    transform: scaleX(-1) rotate(-10deg)
}