.cartoon { 
    /* code */
} 

img {
    position: absolute;
    pointer-events: none;
    width: 80vmin;
}

.r { border-radius: 50%; }
.b { border: 0.5vmin solid; }

.sb::before {
    content: "";
    display: block;
    position: absolute;
}

.sa::after {
    content: "";
    display: block;
    position: absolute;
}