img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    opacity: 0.2;
    pointer-events: none;
    /* display: none; */
    /* opacity: 1 */
}

.b {
    border: 0.5vmin solid black
}

.r {
    border-radius: 50%;
}
